/*Обнуление*/
*{padding: 0; margin: 0; border: 0}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav, footer, header, aside{display: block;}
html,body {height: 100%;width: 100%;font-size: 100%;line-height: 1;}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button {cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;};
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}
/*Обнуление*/

/* 
--star-command-blue: #2176aeff;
--blue-jeans: #57b8ffff;
--liver-dogs: #b66d0dff;
--bright-yellow-crayola: #fbb13cff;
--outrageous-orange: #fe6847ff;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300;1,800&display=swap');

:root {
    --main-color: #2176aeff;
    --main-light: #57b8ffff;
    --secondary-color: #ffb13cff;
    --secondary-color-light: #fcc873;
    --secondary-dark: #b66d0dff;
    --header-bg-color: #2176aeff;
    --button-color: #fbb13cff;
    --button-hover-color: #b66d0dff;
    --button-text: #fff;
    --main-bg-color: #fff;
    --header-link: white;
    --main-text: rgb(97, 97, 97);
    --text-lighter: #bbb;
    --text--darker: #444;
    --light-text: #fff;
}
body {
    display: flex;
    height: fit-content;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: var(--main-bg-color);
    color: var(--main-text);
}

#wrapper {
    display: flex;
    width: 100%;
    max-width: 800px;
    height: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
#root {
    background-color: white;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 320px;
    justify-content: center;
    padding: 100px 10px 10px 10px;
}

.content {
    width: 100%;
}
.component-card {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(92, 99, 105, .2);
    padding: 20px;
    margin-bottom: 20px;
}
.component-card h1  {
    color: var(--text--darker);
    text-align: left;
    font-size: 1.5em;
    margin: 10px 10px 15px 10px;
}
.component-card .toggleButton {
    color: var(--main-light);
    position: absolute;
    right: 5px;
    top: 0px;
    cursor: pointer;
    padding: 5px;
} 
.container {
    max-width: 800px;
    margin: 0px auto;
    padding: 0px 10px;
}


.unauth {
    text-align: center;
    margin: 20px;
}

button {
    background-color: var(--button-color);
    color: var(--button-text);
    font-size: 1em;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
button:hover {
    background-color: var(--button-hover-color);
}

.header {
    font-size: 1em;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: var(--main-color);
    color: var(--light-text);
}

.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 3;
}

.header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header_burger {
    display: none;
}


.header a {
    color: var(--header-link);
    padding: 10px;
}
.header a:hover {
    color: var(--secondary-color);
}
.header button {
    background-color: transparent;
    border: 1px solid var(--light-text);
    font-size: .8em;
    padding: 8px;
}
.header button:hover {
    background-color: var(--secondary-color);
    border: none;
}

.header_userinfo {
    display: flex;
    align-items: center;
    z-index: 3;
}
.header_avatar {
    flex: 0 0 60px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}
.header_avatar img {
    max-width: 100%;
    display: block;
}

.header_menu {
    display: flex;
    position: relative;
    z-index: 3;
}

#aggregate {
    text-align: center;
}
#aggregate .chart-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.my-chart {
    width: 350px;
    height: fit-content;
}
.my-chart h1  {
    color: var(--text--darker);
    font-size: 1.5em;
    margin-bottom: 10px;
}

#selectChartData {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 15px;
}


@media (max-width:767px){
    body.lock {
        overflow: hidden;
    }
    #root {
        padding: 60px 10px 10px 10px;
    }
    
    .header_body {
        height: 50px;
    }
    .header_avatar {
        flex: 0 0 40px;
    }
    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        cursor: pointer;
        z-index: 3;
    }
    .header_burger span {
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before,
    .header_burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    
    .header_burger:before {
        top: 0;
    }
    .header_burger:after {
        bottom: 0;
    }
    .header_burger.active span {
        transform: scale(0);
    }
    .header_burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header_menu {
        font-weight: 300;
        font-size: 1.5em;
        position: fixed;
        left: -100%;
        top: 50px;
        height: auto;
        width: 100%;
        overflow: auto;
        background-color: var(--secondary-color);
        border: 1px solid var(--text-lighter);
        z-index: 2;
        padding: 10px 20px 20px 20px;
        flex-direction: column;
        transition: all 0.3s ease 0s;
    }
    .header_menu a {
        color: var(--light-text);
        border-bottom: 1px solid var(--light-text);
    }

    .header_menu a:hover {
        color: var(--main-color);
        text-decoration: none;
        text-underline-offset: 0.2em
    }
    .header_menu.active {
        left: 0px;
        color: var(--light-text);
     }

    .my-chart {
        width: 95%;
        max-width: 350px;
        height: fit-content;
     }

}

/* aggregate */
#aggregate .dataList {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.2em;
}
#aggregate ul {
    margin-bottom: 10px;
}
#aggregate li {
    display: flex;
    width: 100%;
    align-items: center;
    /* border-bottom: 1px solid var(--text-lighter); */
    padding-bottom: 5px;
}

#aggregate .edit {
    display: flex;
    align-items: center;
}
#aggregate .edit span {
    font-size: 1.2em;
}
#aggregate .fieldData {
    flex: 1 1 80px;
    color: var(--main-text);
    text-align: right;
    margin-right: 0px;
}
.dataList .label {
    flex: 0 0 20px;
}
.chartLabel {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid;
    border-radius: 50%;
}
.dataList .field {
    flex: 1 1 60%;
    color: var(--text--darker);
    margin-right: 10px;
    margin-left: 10px;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
}
.dataList .field .icon {
    font-size: 14px;
    display: block;
}
#aggregate .field.filter {
    color: red;
}

  
/* Activity Filter Form */

.actFilter h1 {
    color: var(--text--darker);

}
.activity-form {
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 10px;
}
.activity-form fieldset {
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
}
.activity-form .dateInput {
    display: flex;
    position: relative;
    height: fit-content;
    min-width: fit-content;
    margin-bottom: 15px;
}
.activity-form .dateInputBlock {
    position: relative;
    padding-right: 10px;
}
.typeInput {
    position: relative;
}
.dateInput label, .typeInput label{
    position: absolute;
    font-size: 0.8em;
    left: 0.3125rem;
    display: flex;
    pointer-events: none;
    border: none;
    background-color: #fff;
    color: var(--text-lighter);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transform: translateY(-50%);
    transition: top 0.1s ease-in-out, scale 0.1s ease-in-out;
}
.activity-form .typeInput {
    flex-basis: 20%;
    flex-grow: 1;
    position: relative;
    height: 36px;
    min-width: fit-content;
    margin-bottom: 15px;
}

.activity-form input[type="date"] {
    height: 36px;
    background-color: transparent;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    color: var(--main-text);
    font-size: 1em;
    border: 1px solid var(--text-lighter);
    outline: none;
    border-radius: 5px;
  }
  
  .activity-form ::-webkit-datetime-edit-fields-wrapper {
    padding: 5px 0px 5px 5px;
  }
  .activity-form ::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    padding: 5px;
    margin: 0px;
    transform: translate(-10px);
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 0px;
  }

.activity-form button {
    height: 36px;
    margin-left: 0px;
    padding: 7px;
    margin-top: 0px;
}

.typeInput select {
    color: var(--main-text);
    font-size: 1em;
    height: 36px;
    padding: 0px 10px 0px 10px;
    border: 1px solid var(--text-lighter);
    border-radius: 5px;
    margin-right: 5px;
    background-color: transparent;
}

.chartKeySelector {
    height: 40px;
    display: flex;
    align-items: center;
}
.chartKeySelector span:first-of-type {
    margin-right: 10px;
} 
.chartKeySelector span:last-of-type {
    margin-left: 10px;
} 
.chartKeySelector input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  .chartKeySelector input:checked[type="checkbox"] {
    background: #03a9f4;
  }
  .chartKeySelector input[type="checkbox"]:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  .chartKeySelector input:checked[type="checkbox"]:before {
    left: 20px;
  }
  .chartTargetSelector {
      height: 40px;
      display: flex;
      align-items: center;
  }
  .chartTargetSelector input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 2px;
  }
  .chartTargetSelector label {
      margin-right: 10px;
  }
   .chartTargetSelector label:last-of-type {
      margin-right: 0px;
  }
  
  .chartTargetSelector input:checked {
    border: 6px solid var(--main-color);
  }

/* resultList */


#resultList {
    font-size: 1em;
    position: relative;
    padding: 10px 0px 10px 0px;
}
#resultList.component-card {
    box-shadow: 0 0 0;
}
#resultList .resultTitle {
    color: var(--text--darker);
    font-weight: 400;
}
.totalResults {
    margin-bottom: 20px;
    line-height: 1.25em;
}
.totalResults svg {
    color: var(--main-light);
    margin-right: 10px;
}
.activity {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1em;
    padding: 10px 25px 10px 15px;
    margin-bottom: 10px;
    line-height: 1.25em;
    /* border: 0px solid var(--text-lighter); */
    border-left: 5px solid var(--main-color);
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(92, 99, 105, .2);
    max-height: 100px;
    transition: all 0.5s;
}
.activity.fullView {
    align-items: flex-start;
    background-color: #ebf7ff;
    max-height: 300px;
}
span.activityIcon {
    display: inline-block;
    font-size: 30px;
    margin-right: 20px;
    /* color: var(--main-color); */
    flex-grow: 0;
}
.activity .toggleButton {
    position: absolute;
    right: 5px;
}
.activity ul {
    flex-grow: 1;
    margin-bottom: 0px;
}
.activity li {
    display: flex;
    width: 100%;
}
.activity.fullView .field {
    flex-basis: 30%;
    flex-grow: 1;
    color: var(--text--darker);
    text-align: right;
    margin-right: 10px;
}
.activity.fullView .fieldData {
    flex-basis: 40%;
    flex-grow: 4;
    flex-shrink: 1;
    color: var(--main-text);
    text-align: left;
    margin-right: 10px;
}

.toggleTextInput {
    display: flex;
    cursor: pointer;
}
.toggleTextInput p {
    margin-right: 10px;
}
.toggleTextInput svg {
    cursor: pointer;
}
.toggleTextInput input {
    margin-right: 10px;
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
    color: var(--main-text);
    border: 1px solid var(--main-text);
}
.toggleTextInput span {
    margin-right: 5px;
    font-size: 1.2em;
}
.toggleTextInput.edit span {
    font-size: 1.4em;
    font-weight: 300;
}
.coords {
    font-size: .8em;
}
/* .actInfo {
    margin-top: 10px;
} */

#canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


@media (max-width:420px){
    .activity-form button {
       width: 100%;
       margin-right: 0px;
    }
    #canvas svg{
        width: 250px;
        height: auto;

        /* transform: scale(0.5, 0.5); */
    }

    .activity-form fieldset {
        width: 100%;
    }
    .activity-form .typeInput select {
       width: 100%;
    }
    .activity-form .dateInput {
        width: 100%;
        justify-content: space-between;
    }
    .activity-form .dateInputBlock {
        width: 48%;
        padding-right: 0px;
    }
    .activity-form .dateInputBlock input {
        width: 100%;

    }
    .fullView span.activityIcon {
        margin-right: 5px;
    }
}  

/* Настройки Settings */

#settings {
    width: 100%;
    margin: 20px;
}

#colorSettings {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text-lighter);
}

#settings h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.inputColorBlock {
    display: flex;
    align-items: center;
    padding: 10px;
}
.inputColorBlock label {
    width: 50%;
}
.inputColorBlock input {
    width: 20%;
    cursor: pointer;
}
.inputColorBlock input:disabled {
    opacity: 50%;
    cursor: default;
}
#colorSettings .checkBoxInput {
    padding: 10px;
}
#colorSettings input {
    margin-right: 10px;
}
#chartColorSettings {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text-lighter);
}

.chartColorPicker {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.colorPalette {
    display: flex;
    width: fit-content;
    max-width: 70%;
    margin-right: 20px;
}
.colorSample {
    width: 40px;
    min-width: 10px;
    height: 30px;
}

